<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>SpringMVC 用户管理</title>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <h1>SpringMVC 博客系统-用户管理</h1>
    <hr/>

    <h3>所有用户 <a th:href="@{/addUser}" type="button" class="btn btn-default btn-sm">添加</a></h3>

    <!-- 如果用户列表为空 -->
    <div th:if="${#lists.isEmpty(userList) }">
        <p class="bg-warning">
            <br/>
            User表为空，请<a th:href="@{/addUser}" type="button" class="btn btn-default btn-sm">添加</a>
            <br/>
            <br/>
        </p>
    </div>

    <!-- 如果用户列表非空 -->
    <div th:if="${not #lists.isEmpty(userList)}">
        <table class="table table-bordered table-striped">
            <tr>
                <th>ID</th>
                <th>姓名</th>
                <th>密码</th>
                <th>权限</th>
                <th>操作</th>
            </tr>

                <tr th:each="user:${userList}">
                    <td><span th:text="${user.id}"></span></td>
                    <td><span th:text="${user.username}"></span></td>
                    <td><span th:text="${user.password}"></span></td>
                    <td><span th:text="${user.ROLE_USER}"></span></td>
                    <td>
                        <a th:href="@{/showUser/${user.id}}" type="button" class="btn btn-sm btn-success">详情</a>
                        <a th:href="@{/updateUser/${user.id}}" type="button" class="btn btn-sm btn-warning">修改</a>
                        <a th:href="@{/deleteUser/${user.id}}" type="button" class="btn btn-sm btn-danger">删除</a>
                    </td>
                </tr>
        </table>
    </div>
</div>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="/static/js/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
